div.back {
  /* background: rgba(100, 10, 10, 0.7); */
  width: 1280px;
  height: 720px;
  border-radius: 30px;
  text-align: center;
  line-height: 250px;
  color: black;
  margin: 0 auto;
  padding-top: 40px;
  /* padding-right: 30px; */
  padding-bottom: 50px;
  /* padding-left: 80px; */
}

div.background{
  width: 1280px;
  height: 720px;
  border-radius: 30px;
  text-align: center;
  line-height: 250px;
  color: black;
  margin: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 50px;
  background: url(img/back1.jpg) no-repeat ;
  background-size: 1920px 1080px;
}

img.avatar{
    border-radius: 50%;
    height:130px;
    width:130px
}

div.ex1 {
    width:500px;
    height: 500px;
    margin: auto;
    border: 0px solid #73AD21;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10%;
    text-align: center;
    align-content: center;
    padding-top: 50px;
    font-family: sans;
  }

  div.ex2 {
    width:760;
    height: 500px;
    margin: auto;
    border: 0px solid #73AD21;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans;
    /* background-color: rgba(255, 0, 0, 0.4); */
  }

  div.history{
      width: 760;
      height: auto;
      border-radius: 0%;
      background-color: rgba(255, 255, 255, 0.4)
  }

  div.itemtop{
    width: auto;
    height: auto;
    border-radius: 0%;
    text-align: left;
    padding: 5px;
    margin-top: 5px;
    background-color: rgba(0, 183, 255, 0.8);
  }

  div.itembottom{
    width: auto;
    height: auto;
    border-radius: 0%;
    text-align: left;
    padding: 5px;
    margin: 2.5px;
    background-color: rgba(0, 183, 255, 0.8);
  }

  div.ex3{
    text-align: center;
  }

  table, th, td {
    border: 0px solid black;
    height: auto;
    text-align: center;
 }

 tr.consultant{
   font-size: 26;
    font-weight: bold;
    
 }

 table.bottom{
     width: 760;
     height: auto;
     border: 0px solid black;
     margin-top: 5px;
     /* background-color: rgba(0, 17, 255, 0.185); */
 }

 font.top{
     size: 5;
 }

 font.bottom{
     size: 2;
 }

 .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/back1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 1px;
    border-color: black;

  } 

  @font-face {
    font-family: sans;
    src: url(font/SansSerifBldFLF.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: sans;
    src: url(font/SansSerifFLF-Demibold.otf);
    font-weight: normal;
  }